<div *ngIf="hero" class="main-box">
  <h2>{{hero.name}} stats</h2>
  <div>
    <label>id:
      <label>{{hero.id}}</label> 
    </label>
  </div>
  <div class="stats-main">
    <label class="stats-box">str: 
      <label class="stat">{{hero.attributes.str}}</label>
    </label>
    <label class="stats-box">agi: 
      <label class="stat">{{hero.attributes.agi}}</label>
    </label>
    <label class="stats-box">dex: 
      <label class="stat">{{hero.attributes.dex}}</label>
    </label>
    <label class="stats-box">int: 
      <label class="stat">{{hero.attributes.int}}</label>
    </label>
    <label class="stats-box">sta: 
      <label class="stat">{{hero.attributes.sta}}</label>
    </label>
  </div>
  <div>
    <label>
      name: <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>