* { box-sizing: border-box; }

.main-box {
  width: 50%;
}

.stats-main {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  justify-content: space-between;
}

.stat {
  text-align: right;
  padding: 0.5em;
  margin: 0px;
}

.stats-box {
  display: inline-block;
  width: 49%;
  border: 1px solid black;
  padding: 0.5em;
  margin: 1px;
}

label {
  color: black;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}