a {
  position: relative;
  left: 0;
  text-decoration: none;
}

h4 {
  background-color: #DDD;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  width: 15em;
  color: black;
  text-align: center;
}